body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
    background-color: gainsboro;
}

.container {
    max-width: 100%;
    margin: 0 auto;
}

.logo img {
    border-radius: 50%;
    border: 5px solid white;
    box-shadow: 0 0 7px #666;
    margin-top: 2cm;
    margin-left: 157px;
    margin-right: 157px;
}

.header {
    background: #383838;
    width: 34%;
    
}

.name {
    color: whitesmoke;
    margin-top: 80px;
    margin-left: 70px;
    min-height: 1350px;


}

.p2 {
    font-size: 20px;
    margin-top: 4px;
   text-overflow: ellipsis;
   border: 0px solid white;
   padding: 0px;
   margin-right: 40px;
}

.name h1 {
    font-size: 2cm;
    margin-top: 69px;
}

.name h2 {
    font-size: 75px;
}

.name h3 {
    font-size: 30px;
    margin-top: 200px;   
}

.name h4 {
    font-size: 37px;
    margin-top: 40px;
}

.name h5 {
    font-size: 30px;
    margin-top: 200px;   
}

.name h6 {
    font-size: 30px;
    margin-top: 200px;   
}

.name p {
    font-size: 20px;
    margin-top: 25px;
}

.div  {

    display: flex;
    justify-content: space-between;
}

.main {
    margin-top: 14%;
    margin-right: 8%;
}

.section {
    color: black;
    font-size: larger;
}

.s1 {
    font-size: 28px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.pp {
    margin-top: 6%;
    font-size: 25px;
}

.pp1 {
    margin-top: 2%;
    font-size: 25px;
    font-style: italic;
    font-weight: 300;
}

.div1 {
    display: flex;
    justify-content: space-between;
}

.paragraph {
    margin-top: 2%;
    font-size: 25px;
    font-weight: 300;
}

.s2 {
    font-size: 28px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-top: 12%;
}

.s3 {
    font-size: 28px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-top: 12%;
}

.s4 {
    font-size: 28px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-top: 12%;
}

.axaxa {
    background-color: black;
    color: aliceblue;
}



